/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

.hit {
    background-color: lightgreen;
    border-color: green;
    border-width: 2px;
    color: green;
}

.hit-fake {
    background-color: crimson;
    border-color: red;
    border-width: 2px;
    color: green;
}

.stand {
    background-color: lightgreen;
    border-color: green;
    border-width: 2px;
    color: green;
}

.stand-fake {
    background-color: crimson;
    border-color: red;
    border-width: 2px;
    color: green;
}

.turn {
    font-weight: bold;
}

.player-name {
    font-weight: bold;
}

.prev-P1-hand-bust {
    font-family: Monospace;
    font-size: 25px;
    text-align: center;
    color: crimson;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.prev-P2-hand-bust {
    font-family: Monospace;
    font-size: 25px;
    text-align: center;
    color: crimson;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.prev-P1-hand-tie {
    font-family: Monospace;
    font-size: 25px;
    text-align: center;
    color: yellow;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.prev-P2-hand-tie {
    font-family: Monospace;
    font-size: 25px;
    text-align: center;
    color: yellow;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.prev-P1-hand-win {
    font-family: Monospace;
    font-size: 25px;
    text-align: center;
    color: lightgreen;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.prev-P2-hand-win {
    font-family: Monospace;
    font-size: 25px;
    text-align: center;
    color: lightgreen;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.prev-P1-hand {
    font-family: Monospace;
    font-size: 25px;
    text-align: center;
    color: gray;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.prev-P2-hand {
    font-family: Monospace;
    font-size: 25px;
    text-align: center;
    color: gray;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.P1-hand {
    font-family: Monospace;
    font-size: 50px;
    text-align: center;
    color: black;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.P1-hand-turn {
    font-family: Monospace;
    font-size: 50px;
    text-align: center;
    color: green;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.P2-hand {
    font-family: Monospace;
    font-size: 50px;
    text-align: center;
    color: black;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.P2-hand-turn {
    font-family: Monospace;
    font-size: 50px;
    text-align: center;
    color: green;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.P1-card {
    font-family: Monospace;
    font-size: 50px;
    text-align: center;
    color: blue;
    width: 100px;
    height: 100px;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.P2-card {
    font-family: Monospace;
    font-size: 50px;
    text-align: center;
    color: red;
    width: 100px;
    height: 100px;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.Card-Back {
    font-family: Monospace;
    font-size: 50px;
    text-align: center;
    color: black;
    width: 100px;
    height: 100px;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.score {
    font-size: 25px;
}

.player-name {
    margin-bottom: 0px;
}
