/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

.P1-hand {
    font-family: Monospace;
    font-size: 50px;
    text-align: center;
    color: black;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.P1-hand-turn {
    font-family: Monospace;
    font-size: 50px;
    text-align: center;
    color: green;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.P2-hand {
    font-family: Monospace;
    font-size: 50px;
    text-align: center;
    color: black;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.P2-hand-turn {
    font-family: Monospace;
    font-size: 50px;
    text-align: center;
    color: green;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.P1-card {
    font-family: Monospace;
    font-size: 50px;
    text-align: center;
    color: blue;
    width: 100px;
    height: 100px;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.P2-card {
    font-family: Monospace;
    font-size: 50px;
    text-align: center;
    color: red;
    width: 100px;
    height: 100px;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.Card-Back {
    font-family: Monospace;
    font-size: 50px;
    text-align: center;
    color: black;
    width: 100px;
    height: 100px;
    border-width: medium;
    border-style: solid;
    padding: 2px;
    margin: 2px;
}

.score {
    font-size: 25px;
}

.player-name {
    margin-bottom: 0px;
}
